@import 'homepage.css';

*,
body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-text-color: rgb(173, 173, 173);
    --text-dark: #000;
    --green-color: #198754;
    --secondary-color: #ccc;
    --accent-color: #fff5f5;

}


