@import '_homepage.css';
@import '_about.css';

:root {
    --main-text-color: rgb(173, 173, 173);
    --text-dark: #000;
    --green-color: #198754;
    --secondary-color: #ccc;
    --accent-color: #fff5f5;
}
*,
body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*----- Breakpoints -----*/
@media (max-width: 1000px) {
    nav {
        background-color: #fff;
        opacity: 1;
        z-index: 1000;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }

    nav span.navbar-toggler-icon {
        color: #fff;
    }

    .info {
        position: absolute;
        top: 20%;
        left: 10%;
    }

    .profile-img {
        background-size: contain;
        background-position: center;
        position: absolute;
        top: 45%;
        right: 20%;
        width: 270px;
        height: 260px;
        border: 15px solid var(--green-color);
        border-radius: 100%;
    }

    .profile-img img {
        position: absolute;
        top: -9px;
        right: -1px;
        width: 245px;
        height: 240px;
        border-radius: 100%;
    }

    .about-title{
        position: absolute;
    }

    .about-title h1{
        padding-left: 50px;
        padding-top: 10px;
    }

    .about-title h1::before {
        content: '';
        width: 80px !important;
        height: 3px;
        background-color: var(--text-dark);
        position: absolute;
        left: -40px !important;
        top: 35px;
    }
}

